# **코드업 파이썬 기초 100제**

### **다시 볼 문제** :
* 6006 - ()는 특수문자로 안 친다
* 6015 - input().split하면 list형태로 반환된다
* 6016 - .sort()는 안에서 순서만 바꾸지 결과값을 반환하지 않는다
* 6027, 6028 - 16, 8진수 등으로 출력하는 방법: print('%x'% n)
* 6029 - int(x, 진수 형태) int로 형변환 할때 몇 진수 형식으로 나타낼건지 지정할 수 있다
* 6030, 6031 - 유니코드 변환 함수들. chr( )는 정수값->문자, ord( )는 문자->정수값
* 6045 - sum함수
* 6047
* 6054 - and 예약어
* 6058
* 6063 = 3항 연산자
* 6082 - 3,6,9
* 6088 - split()과 split(' ')는 다르다
* 6090번대

In [ ]:
#6001

print("Hello")

In [ ]:
#6002
#공백이 있는 문자열 출력

#print("Hello World") #-> 11초
#print("Hello", "World") #-> 23초
#print("Hello", "World", sep = "")

Hello World

In [ ]:
#6003
#개행이 포함된 문자열 출력

#print("""Hello
#World""")
#print("Hello\nWorld")
print("Hello", "World", sep = "\n")

Hello
World

In [ ]:
#6004
#작은 따옴표가 들어있는 문자열 출력

#print("'Hello'")
print('\'Hello\'')

'Hello'

In [ ]:
#6005
#큰 따옴표가 들어있는 문자열 출력

print('"Hello World"')

"Hello World"

In [ ]:
#6006
#특수문자 출력(\', \")

print("\"!@#$%^&*()\'")

"!@#$%^&*()'

In [ ]:
#6007
#(\\)

print('"C:\\Download\\\'hello\'.py"')

"C:\Downlowd\'hello'.py"

In [ ]:
#6008

print('print("Hello\\nWorld")')

print("Hello\nWorld")

In [ ]:
#6009
#문자 입력 받아 그대로 출력
#Tip -  변수명은 알아보기 쉽도록 간단하게 쓰는게 좋다.

x = input()
print(x)

e
e

In [ ]:
#6010
#정수 입력 받아 int로 출력

x = int(input()) #input함수는 입력값을 문자열 형태로 받는다.
print(x)

1
1

In [ ]:
#6011
#float형 출력

print(float(input()))

3.14
3.14

In [ ]:
#6012
#정수 2개 입력 받아 그대로 출력

#2개의 정수가 줄을 바꿔 입력된다.
x = int(input())
y = int(input())
#한 번에 받을 경우
#x,y = input().split()
#map을 이용해서 형변환까지 하는 코드는
#x,y = map(int, input().split())

#입력된 두 정수를 줄을 바꿔 출력한다.
print(x,y, sep="\n")

1
2
1
2

In [ ]:
#6013
#문자 두 개 입력 받아 순서 바꿔 출력하기

y = input()
x = input()

print(x, y, sep="\n")

a
b
b
a

In [ ]:
#6014
#실수 1개 입력 받아 3번 출력

print((input()+"\n") * 3)

2
2
2
2

In [ ]:
#6015
#정수 2개 입력 받아 그대로 출력

x, y = map(int, input().split(" ")) #input값은 공백으로 쪼개져서 list의 형태로 반환.(iterable)
                                    #iterable한 객체의 값들을 하나씩 꺼내서 args(int)를 적용.
                                    #split()은 문자열이랑 같이 쓰인다
print(x, y, sep = "\n")

1 2
1
2

In [ ]:
#6016
#문자 2개 입력받고 순서 바꿔 출력

x, y = input().split(" ")
print(y, x)

'''
+)추가
print(sorted(input().split(" "), reverse=True)) #.sort(), reverse()와 같이 list에서만 제공하는 함수들을 쓰면 None이 나온다..?
print((input().split(" ")).sort()) #sort()가 None이 나오는 이유 - 새로운 객체를 return하는게 아니라, 안에서 순서만 바꾸기 때문에 반환값이 없다.
'''

a b
b a

In [ ]:
#6017
#문장 1개 입력받아 3번 출력

x = input()
#공백을 두고 3번 출력한다.
print(x,x,x)

computer s
computer s computer s computer s

In [ ]:
#6018
#시간 입력받아 출력

#:로 구분해서 입력
h, m = map(int, input().split(":"))
#print(f"{h}:{m}")
print(h, m, sep=':') #sep은 출력 시 객체 사이에 뭘 넣을 건지를 지정한다.

2:10
2:10

In [ ]:
#6019
#"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력

y,m,d = map(int, input().split('.'))
print(d,m,y, sep='-')

2020.3.4
4-3-2020

In [ ]:
#6020
#주민번호 입력 받아 형태 바꿔 출력

# 입력 110011-0000000
x, y = input().split('-')
#'-'를 제외한 주민번호 13자리를 모두 붙여 출력
print(x,y, sep="")

000907-11211112
00090711211112

In [ ]:
#6021
#단어를 한 문자씩 출력

str = input()
for x in str:
    print(x)

Hello
H
e
l
l
o

In [ ]:
#6022
#년,월,일 나눠서 출력(슬라이싱)

str = input()
print(str[:2], str[2:4], str[4:])

200304
20 03 04

In [ ]:
#6023
#시:분:초에서 분만 출력

h, m, s = input().split(':')
print(m)

17:53:37
53

In [ ]:
#6024
#단어 2개 입력받아 이어붙이기

#공백문자도 어쨌든 하나의 문자
#공백문자까지 받기 싫은데 어떡하죠? 그럼 공백문자를 기준으로 자르렴
x,y = input().split(" ")
print(x+y)

Hello World
HelloWorld

In [ ]:
#6025
#정수 2개 입력받아 합 구하기

x,y = map(int,input().split(" "))
print(x+y)

123 -123
0

In [ ]:
#6026
#실수 2개 입력 받아 더하기
x= float(input())
y= float(input())

print(x+y)

0.1
0.9
1.0

In [ ]:
#6027
#10진수를 16진수로 출력(소문자로)

print('%x'% int(input()))

255
ff

In [ ]:
#6028
#10진수를 16진수로 출력(대분자로)

print('%X'% int(input()))

255
FF

In [ ]:
#6029
#16진수를 8진수로

octal_int = int(input(), 16) #야 이건 또 처음 앎....

print('%o'% octal_int)

f
17

In [ ]:
#6030
#영문자 1개 입력 받아 유니코드로 출력

x = ord(input()) #ord(): 문자 집어넣으면 해당 유니코드 값 리턴.
                 #각각의 문자들에는 연속된 정수 값(유니코드)이 순서에 따라 부여되어 있음. A:65, B:66...
print(x)

A
65

In [ ]:
#6031
#정수 입력 받아 유니코드 문자로 변환

print(chr(int(input()))) #chr()은 정수 받아 유니코드 값에 맞는 문자로 변환

65
A

In [ ]:
#6032
#입력된 정수 부호 바꿔 출력

print(-(int(input())))

-1
1

In [ ]:
#6033
#문자 1개 입력받아 다음 문자 출력

x=ord(input())+1

print(chr(x))

a
b

In [ ]:
#6034
#정수 2개 입력 받아 뻴셈

x,y = map(int,input().split(" "))
print(x-y)

123 -123
246

In [ ]:
#6035
#실수 2개 입력받아 곱 계산
x,y = map(float, input().split(" "))
print(x*y)

0.5 2.0
1.0

In [ ]:
#6036
#단어와 정수 받아서 정수만큼 단어 반복 출력

string, n = input().split(" ")

print(string*(int(n)))

love 3
lovelovelove

In [ ]:
#6037
#6036 문제랑 똑같음

n = int(input())
s = input()

print(s*n)

3
I love CS
I love CSI love CSI love CS

In [ ]:
#6038
#정수 2개 받아 거듭 제곱 출력

x, y = map(int, input().split())
print(x**y)

2 10
1024

In [ ]:
#6039
#실수 2개 입력받아 거듭 제곰

x, y = map(float, input().split())
print(x**y)

4.0 2.0
16.0

In [ ]:
#6040
#정수 2개 입력 받아 몫 구하기

x, y = map(int, input().split(" "))
print(x//y)

10 3
3

In [ ]:
#6041
#정수 2개 입력, 나머지 구하기

x, y = map(int, input().split(" "))
print(x%y)

10 3
1

In [ ]:
#6042
#실수 1개 입력 받아 두 번째 자리까지 반올림

print('%.2f'% (float(input())))
#print(format(float(input())),".2f")

3.141592
3.14

In [ ]:
#6043
#실수 2개 받아 나눗셈, 소수점 넷째자리에서 반올림

x, y = map(float, input().split(" "))
print(f"{x/y :>.3f}") #:>.3f는 .3f만큼 왼쪽 정렬하라는 뜻. :<는 오른쪽 정렬

10.0 3.0
3.333

In [ ]:
#6044
#정수 2개 입력 받아 사칙연산

x, y = map(int, input().split(" "))
print(f"{x+y}\n{x-y}\n{x*y}\n{x//y}\n{x%y}\n{x/y :>.2f}")

10 3
13
7
30
3
1
3.33

In [ ]:
#6045
#정수 3개 입력받아 합, 평균 출력

t = tuple(map(int, input().split(" ")))
print(f"{sum(t)} {sum(t)/3 :>.2f}") #평균 구하는 함수는 따로 없나보다.. 크흠

1 2 3
6 2.00

In [ ]:
#6046
#shift 연산
#밀면 2가 곱해지거나 1/2이 되거나
#python에서 실수 값에 대한 비트 시프트 연산은 허용되지 않는다

print((int(input()))<<1)

1024
2048

In [ ]:
#6047
#2승 거듭제곱

x, y = map(int, input().split(" "))
print(x<<y)

1 3
8

In [ ]:
#6048
#대소 비교

x, y = map(int,input().split(" "))
print(x<y)

1 9
True

In [ ]:
#6049
#값이 같은지 비교

x, y = map(int,input().split(" "))
print(x==y)

0 0
True

In [ ]:
#6050
#<= 문제

x, y = map(int,input().split(" "))
print(x<=y)

0 -1
False

In [ ]:
#6051
#!= 문제

x, y = map(int, input().split(" "))
print(x!=y)

0 1
True

In [ ]:
#6052
#bool()문제

print(bool(int(input()))) #정수를 넣으면 True인지 False인지 반환. int의 서브클래스

0
False

In [ ]:
#6053
#boolean 예약어 not 문제

#boolean 예약어 and, or, not
print(not(bool(int(input()))))

0
True

In [ ]:
#6054
#boolean 예약어 and 문제

#x가 0이 아니면 True -> y가 0이 아니면 True -> y값을 반환
#x가 0이면 False -> 바로 False 반환
#x가 0이 아니면 True ->  y가 0이면 False -> 바로 False 반환
x, y = map(lambda x:bool(int(x)), input().split(" "))
print(x and y)

1 1
True

In [ ]:
#6055
#boolean or 예약어

x, y = map(lambda x: bool(int(x)), input().split(" "))
print(x or y)

1 1
True

In [ ]:
#6056
#xor 문제

x, y = map(lambda x: bool(int(x)), input().split(" "))
print(x!=y)

1 1
False

In [ ]:
#6057
#xnor문제

x, y = map(lambda x: bool(int(x)), input().split(" "))
print(x==y)

0 0
True

In [ ]:
#6058
#not(A or B) 문제

x, y = map(lambda x: bool(int(x)), input().split())
print(not(x or y))

0 1
False

In [ ]:
#6059
#비트단위 연산자 ~(bitwise not) 문제
#비트단위 연산은 빠른 계산이 필요한 그래픽처리에서도 효과적으로 사용된다.
#모든 비트의 1을 0으로, 0을 1로
#~n = -n-1

print(~(int(input())))

2
-3

In [ ]:
#6060
#비트단위 연산자 &(and) 문제

x, y = map(int,input().split())
print(x & y)

3 5
1

In [ ]:
#6061
#비트 단위 연산자 |(or) 문제

x, y = map(int,input().split())
print(x | y)

3 5
7

In [ ]:
#6062
#비트 단위 연산자 ^(xor) 문제

x, y = map(int,input().split())
print(x ^ y)

3 5
6

In [ ]:
#6063
#3항연산자, 둘 중 큰 수 출력

x, y = map(int,input().split())
print(x if (x>y) else y)

123 456
456

In [ ]:
#6064
#3항연산자, 가장 작은 수 출력

x, y, z = map(int,input().split())
print(x if (y if (y<z) else z)>x else (y if (y<z) else z))

3 -1 5
-1

In [ ]:
#6065
#3개 입력받아 짝수만 출력

t = (map(int, input().split()))
for i in t:
    if(i%2==0):
        print(i)

1 2 4
2
4

In [ ]:
#6066
#정수 3개 입력 받아 짝/홀 출력

t = (map(int, input().split()))
for i in t:
    if(i%2==0):
        print("even")
    else:
        print("odd")

1 2 8
odd
even
even

In [ ]:
#6067
#정수 입력받아 음,양, 짝,홀 분류

x = int(input())

if (x<0):
    if(x%2 == 0): print("A")
    else: print("B")
elif (x>0):
    if(x%2 == 0): print("C")
    else: print("D")

-2147483648
A

In [ ]:
#6068
#점수 입력 받아 평가 매기기

x = int(input())
if(90<=x<=100): print('A')
if(70<=x<90): print('B')
if(40<=x<70): print('C')
if(0<=x<40): print('D')

73
B

In [ ]:
#6069
#문자입력값마다 다른 문장 출력

x = input()
if(x == 'A'):
    print("best!!!")
elif(x == 'B'):
    print("good!!")
elif(x == 'C'):
    print("run!")
elif(x=="D"):
    print("slowly~")
else:
    print("what?")

A
best!!!

In [ ]:
#6070
#월 입력받아 계절 출력
#패턴을 찾으면 코드를 더 짜기 쉽다
x = int(input())

if((x//3==0) or (x//3==4)):
    print("winter")
if(x//3 == 1):
    print("spring")
if(x//3 == 2):
    print("summer")
if(x//3 == 3):
    print("fall")

12
winter

In [ ]:
#6071
#0 입력 될 때 까지 무한 입출력

while(True):
    x=int(input())
    if(x==0):
        break
    print(x)

7
7
4
4
2
2
3
3
0

In [ ]:
#6072
#정수 1개 입력하고 정수부터 1까지 출력

x = int(input())

while(x>=1):
    print(x)
    x -= 1

5
5
4
3
2
1

In [ ]:
#6073
#정수 1개 받고 정수-1 부터 0까지 출력

x = int(input())

while(x>=1):
    x -= 1
    print(x)

5
4
3
2
1
0

In [ ]:
#6074
#문자 1개 받아서 a 부터 받은 문자까지 출력

x = ord(input())
y = ord('a')
while(x>=y):
    print(chr(y), end=" ")
    y += 1

f
a b c d e f

In [ ]:
#6075
#0에서 입력받은 정수까지 출력

x = int(input())
i=0
while(x >= i):
    print(i)
    i+=1

4
0
1
2
3
4

In [ ]:
#6076
#for문으로 6075번 풀기

x = int(input())
for i in range(x+1):
    print(i)

4
0
1
2
3
4

In [ ]:
#6077
#1부터 입력받은 정수 까지의 짝수 합
#코랩에서는 if랑 for문이랑 같이쓰는게 안 되는 것 같다...

x= int(input())
sum = 0
for i in range(x+1):
    sum+= i if i%2==0 else 0
print(sum)

5
6

In [ ]:
#6078
#q입력 전까지 문자 계속 출력(출력에 q 포함)

while(True):
    x = input()
    print(x)
    if(x=='q'):
        break

x
x
b
b
k
k
d
d
l
l
q
q

In [ ]:
#6079
#n을 입력받고, 1부터 쭉 더했을 때 언제 n값이 나오는지 구하기

x=int(input())
sum=0
i=0
while(sum<x): #언제까지 더할 것인지!
    sum+=i+1
    i+=1
print(i)

55
10

In [ ]:
#6080
#주사위 2개 던졌을 때 나올 수 있는 경우의 수

x, y =map(int,input().split())

for i in range(1, x+1):
    for j in range(1, y+1):
        print(i, j)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [ ]:
#6081
#16진수 구단 출력

x=int(input(),16)

#hex()는 결과를 string 값으로 반환해 준다.
for i in range(1, 16):
    print("{0:X}*{1:X}={2:X}".format(x, i, x*i))

B
11
B*1=B
B*2=16
B*3=21
B*4=2C
B*5=37
B*6=42
B*7=4D
B*8=58
B*9=63
B*A=6E
B*B=79
B*C=84
B*D=8F
B*E=9A
B*F=A5

In [ ]:
#6082
#3 6 9 게임 (30보다 작은 정수 입력)

x = int(input())

for i in range(1, x+1):
    print('X', end=' ') if ((i%10!=0) and (i%10)%3==0) else print(i, end=' ')

29
1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27 28 X

In [ ]:
#6083
#r, g, b값 받고 모든 경우의 조합 출력

x, y, z = map(int,input().split())
total=0

for i in range(x):
    for j in range(y):
        for k in range(z):
            print(i,j,k)
            total+=1
print(total)

2 2 2
0 0 0
0 0 1
0 1 0
0 1 1
1 0 0
1 0 1
1 1 0
1 1 1
8

In [ ]:
#6084
#소리 파일 저장 용량 계산

h, b, c, s = map(float,input().split(" "))

print("{0:.1f} MB".format((h*b*c*s)/8./1024./1024.))

44100 16 2 10
1.7 MB

In [ ]:
#6085
#그림 파일 저장 용량 계산

w, h, b = map(float,input().split(" "))

print("{0:.2f} MB".format((w*h*b)/8./1024./1024.))

1024 768 24
2.25 MB

In [ ]:
#6086
#1부터 쭉 더하다가 그 합이 입력된 정수보다 커지거나 같아지는 경우, 그때까지의 합을 출력

x = int(input())
sum = 0
i=1
while(x>sum):
    sum+=i
    i+=1

print(sum)

57
66

In [ ]:
#6087
#3의 배수는 빼고 출력 (continue문제)

x = int(input())

for i in range(1, x+1):
    if(i%3==0):
        continue
    print(i, end=' ')

10
1 2 4 5 7 8 10

In [ ]:
#6088
#등차수열 문제

#split()과 split(' ')는 다르다
#split() 공백을 퉁쳐서 한 번에 처리
#split(' ') 공백을 하나하나의 문자로 인식
#예로, "a b  c "가 들어오면,
#split() => ['a','b','c']
#split(" ") => ['a', ' ', 'b', ' ', ' ', 'c']
#tab, 개행문자가 들어왔을 때도 마찬가지로 인식.

a, d, n = map(int, input().split())

print(a+(d*(n-1)))

1 3 2
4

In [ ]:
#6089
#등비수열 문제

a, r, n = map(int, input().split())

print(a*(r**(n-1)))

2 3 7
1458

In [ ]:
#6090
a, m, d, n = map(int, input().split())

for i in range(n-1):
    a= a*(m)+d
print(a)

1 -2 1 8
-85

In [ ]:
#6091
#3가지 수의 최소공배수

#a, b의 최소공배수와 c의 최소공배수 = a, b, c의 최소공배수
#a * b = 최소공배수 * 최소공약수
import math

a, b, c = map(int, input().split())

gcd = math.gcd(a,b)
x = ((a*b)//gcd)
gcd = math.gcd(x, c)

print(((x*c)//gcd))

3 7 9
63

In [ ]:
#6092

#colab에서는 sys.stdin.readline()이 안 된다.
student = [0 for _ in range(23)]
n = int(input())

x = list(map(int, input().split()))
#x = [map(int, input().split())] => map 객체를 하나의 리스트로 묶어버린다. len(x)도 1.

if(len(x) == n):
    for i in x:
        student[i-1] += 1

    print(*student)

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
#6093
#순서를 반대로 출력

n = int(input())

x = list(map(int, input().split()))

if(len(x)==n):
    for i in range(n-1, -1, -1):
        print(x[i], end=" ")

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

In [ ]:
#6094
#최소값 출력

n = int(input())

x = list(map(int, input().split()))

if(len(x)==n):
    print(min(x))

10
10 4 2 3 6 6 7 9 8 5
2

In [ ]:
#6095

board = [[0]*19 for col in range(19)]

n= int(input())

for _ in range(n):
    x,y = map(int, input().split())
    board[x-1][y-1] = 1

for i in range(19): #0~18까지여서 총 19개라는 것을 명심해라...
    print(*board[i])

5
1 1
2 2
3 3
4 4
5 5
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
#6096

board = [(list(map(int, input().split()))) for _ in range(19)]

n= int(input())

for _ in range(n):
    x,y = map(int, input().split())

    for i in range(19):
        board[i][y-1] = ((board[i][y-1])+1)%2
        board[x-1][i] = (board[x-1][i]+1)%2

for i in range(19):
    print(*board[i])

0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
2
10 10
10 19 19
12 12
12 19 19
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
#6097

h,w = map(int, input().split())
board = [[0]*w for _ in range(h)]

n= int(input())

for _ in range(n):
    l,d,x,y = map(int, input().split())
    for i in range(l):
        if(d==0):
            board[x-1][y-1+i] = 1
        elif(d==1):
            board[x-1+i][y-1] = 1

for _ in range(h):
    print(*board[_])

5 5
3
2 0 1 1
3 1 2 3
4 1 2 5
1 1 0 0 0
0 0 1 0 1
0 0 1 0 1
0 0 1 0 1
0 0 0 0 1

In [ ]:
#6098

maze = [list(map(int,input().split())) for _ in range(10)]

now_x = 1
now_y = 1

while(maze[now_x][now_y]!=2):
    if(now_y == 9):
        break
    if (maze[now_x][now_y+1] != 1):
        maze[now_x][now_y] = 9
        now_y += 1
    elif(maze[now_x][now_y+1] == 1):
        if(now_x == 9):
           break
        if(maze[now_x+1][now_y] != 1):
            maze[now_x][now_y] = 9
            now_x += 1
        elif(maze[now_x+1][now_y] == 1):
            break


maze[now_x][now_y] = 9

for _ in range(10):
    print(*maze[_])

1 1 1 1 1 1 1 1 1 1
1 0 1 1 1 1 1 1 1 1
1 0 0 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 9 1 1 1 1 1 1 1 1
1 9 9 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1